.page-header {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center 50%;
  background-repeat: no-repeat;
  position: relative;
}

.page-header-wave {
  position: absolute;
  bottom: -20px;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
  .page-header {
    height: 200px;
  }
}
